*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}
